[[redirects]]
  from = "/api/*"
  to = "https://calandar-api-staging-tw2haqzuzq-nw.a.run.app/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/"
  status = 200

[[headers]]
for = "/*"
[headers.values]
Document-Policy = "js-profiling"
