version: "3.9"
services:
  api:
    build: api
    volumes:
      - ./api:/usr/src/app/calandar
    environment:
      - ROCKET_ENV=production
      - DATABASE_URL=postgres://postgres:password@db/calandar
      - ROCKET_DATABASE_URL=postgres://postgres:password@db/calandar
      - ROCKET_PASETO_SECRET_KEY=wubbalubbadubdubwubbalubbadubdub

  frontend:
    build: frontend
    volumes:
      - ./frontend:/usr/src/app/calandar
    stdin_open: true

  proxy:
    image: nginx:1.23.1
    ports:
      - 80:80
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
      # - asdf:/usr/share/nginx/html:ro

  db:
    image: "postgres:14.5"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=calandar

  redis:
    image: "redis:7.0.4"
