version: "3.9"
services:
  api:
    build: api
    volumes:
      - ./api:/usr/src/app/calandar
    environment:
      - ROCKET_ENV=development
      - DATABASE_URL=postgres://postgres:password@db/calandar
      - ROCKET_DATABASE_URL=postgres://postgres:password@db/calandar
      - ROCKET_PASETO_SECRET_KEY=wubbalubbadubdubwubbalubbadubdub
    user: ${CURRENT_UID} # Keep our cargo cache owned by the host user
    command:
      - bash
      - -c
      - |
        cargo sqlx migrate run
        sleep 10000

  frontend:
    build: frontend
    volumes:
      - ./frontend:/usr/src/app/calandar
    stdin_open: true
    user: ${CURRENT_UID} # Keep our node_modules owned by the host user

  proxy:
    image: nginx:1.23.1
    ports:
      - 80:80
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro

  db:
    image: "postgres:14.5"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=calandar
