[package]
name = "calandar-api"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.69"
base64 = "0.21.4"
chrono = { version = "0.4.22", features = ["serde"] }
futures = "0.3.26"
shuttle-rocket = "0.29.0"
shuttle-runtime = "0.29.0"
shuttle-shared-db = { version = "0.29.0", features = ["postgres"] }
shuttle-secrets = "0.32.0"
log = "0.4.17"
sendgrid = { version = "0.19.0", features = ["async"] }
rocket = { version = "0.5.0-rc.2", features = [ "json" ] }
rocket_dyn_templates = { version = "0.1.0-rc.1", features = [ "tera" ] }
schemars = { version = "0.8.12", features = [ "chrono", "bytes" ] }
okapi = { version = "0.7.0-rc.1" }
reqwest = "0.11.22"
rocket_okapi = { version = "0.8.0-rc.2", features = ["swagger"] }
rusty_paseto = { version = "0.4.0", features = ["batteries_included"] }
sqlx = { version = "0.7.2", features = [ "runtime-tokio-native-tls", "postgres", "chrono" ] }
tokio = { version = "1.33.0", features = ["full"] }
