PASETO_SECRET_KEY="***"  # Can be generated with `openssl rand -hex 16`
RESEND_API_KEY="***"  # Create at https://resend.com/api-keys
STEAM_API_KEY="***"  # Create at https://steamcommunity.com/dev/apikey
